{% extends "common/base_inside.html.twig" %}

{% block body %}
  <section class="section">
    <div class="container">
      <h2 class="title declaration-title is-2">Commencez votre déclaration mensuelle</h2>

      <div class="columns ">
        <div class="column start-declare-col">
          <a href="{{ path('route_declaration_dioxines') }}" class="declaration-cta button is-primary is-large">Dioxines et furannes</a>
        </div>
        <div class="column">
          <a href="{{ path('route_declaration_mesures_continues') }}" class="declaration-cta button is-primary is-large">Mesures continues</a>
        </div>
      </div>

    </div>
  </section>
{% endblock %}