{% extends "common/base_inside.html.twig" %}
{% block stylesheets %}
<style type="text/css">

.recap-declaration-dechets ul {
    list-style: square;
    padding-left: 2em;
}
    </style>
{% endblock %}
{% block body %}
  <section class="section">
    <div class="container">
        <h2 class="title is-2">Effectuer une déclaration</h2>
        
        <ul>
          <li><a href="{{ path('route_declaration_dioxines') }}">déclaration de dioxines</a></li>
          <li><a href="{{ path('route_declaration_mesures_continues') }}">déclaration de mesures continues</a></li>
        </ul>

    </div>
  </section>
{% endblock %}