{% extends "common/base_inside.html.twig" %}
{% block body %}
  <section class="section">
    <div class="container">
        <a class="button is-primary" href="{{ path('route_download_template') }}">Télécharger un modèle de déclaration</a>

        <h1>Effectuer une déclaration</h1>

        
    </div>
  </section>
{% endblock %}