{% extends "common/base_inside.html.twig" %}
{% block body %}
  <section class="section">
    <div class="container">
      <a class="button is-primary button-goback" href="{{ path('route_history', {incinerateurId: incinerateur.id }) }}">Accéder à l'historique des déclarations</a>

      <h2 class="title is-2">Tableau de bord de <strong>{{incinerateur.name}}</strong></h2>

        {% if incinerateur %}
          {% include 'dashboard/_nav.html.twig' with {incinerateur: incinerateur, ligneId:ligneId} %}

          {% block dashboard %}
          {% endblock %}

        {% endif %}

       <a class="button is-primary button-goback" href="{{ path('route_history', {incinerateurId: incinerateur.id }) }}">Accéder à l'historique des déclarations</a>
    </div>
  </section>
{% endblock %}