{% extends "dashboard/base_dashboard.html.twig" %}
{% block title %}
Aeris - Synthèse globale - {{ incinerateur.name }}
{% endblock %}

{% block dashboard %}
<h3 class="title is-3">Synthèse globale</h3>
{% endblock %}