{% extends "common/base_error.html.twig" %}

{% block error_body %}
    La page demandée est introuvable. Si vous êtes censé pouvoir y accéder, merci de nous informer de cette erreur <a href="mailto:jacob.carbonnel@beta.gouv.fr">par mail</a>.
{% endblock %}