<!DOCTYPE html>
<html>
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <style type="text/css">
table {
    border-collapse:collapse;
    width:100%;
}
.remarks {
    min-width: 20%;
}
th {
    background-color: #99ffff;
}
.subtitle {
    background-color: #dddddd;
    text-align: center;
}
.vle {
    background-color: #ffff99;
}
td, th {
    border:2px solid black;
    vertical-align:top;
}
h3 {
    background-color: #66ccff;
}
    </style>
</head>
<body>

    <h2>Ligne 1</h2>
    <h3>Compteurs par paramètres suivis</h3>
    <table>
      <thead>
        <tr>
          <th>Poussières</th>
          <th>COT</th>
          <th>COT</th>
          <th>HCl</th>
          <th>HF</th>
          <th>SO2</th>
          <th>NOX</th>
          <th>NH<sub>3</sub></th>
          <th>Total</th>
          <th class="remarks">Remarques</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>lorem ipsum</td>
        </tr>
      </tbody>
    </table>
    <p><strong>Commentaires : </strong> </p>

    <h3>Températures T2S</h3>
    <table>
      <thead>
        <tr>
          <th>Four</th>
          <th colspan="2">F1</th>
          <th colspan="2">F2</th>
        </tr>
      </thead>
      <tbody>
        <tr class="subtitle">
          <td>&nbsp;</td>
          <td>T moyenne 30 minutes minimum</td>
          <td>T moyenne journalière</td>
          <td>T moyenne 30 minutes minimum</td>
          <td>T moyenne journalière</td>
          <td class="remarks" rowspan="2">Remarques</th>
        </tr>
        <tr class="subtitle">
          <td>Unité</td>
          <td colspan="2">°C</td>
          <td colspan="2">°C</td>
        </tr>
        <tr>
          <td>01/02/2018</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>lorem ipsum</td>
        </tr>
        <tr class="vle">
          <td>VLE</td>
          <td>850</td>
          <td>850</td>
          <td>850</td>
          <td>850</td>
          <td>&nbsp;</td>
        </tr>
      </tbody>
    </table>
    <p><strong>Commentaires : </strong> </p>




    <h3>Concentrations</h3>
    <table>
      <thead>
        <tr>
          <th>Paramètres</th>
          <th colspan="2">Poussières</th>
        </tr>
      </thead>
      <tbody>
        <tr class="subtitle">
          <td>&nbsp;</td>
          <td>C moyenne journalière</td>
          <td>C 30 minutes max</td>

          <td class="remarks" rowspan="2">Remarques</th>
        </tr>
        <tr class="subtitle">
          <td>Unité</td>
          <td colspan="2">mg/Nm<sup>3</sup></td>
        </tr>
        <tr>
          <td>01/02/2018</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>lorem ipsum</td>
        </tr>
        <tr class="vle">
          <td>VLE</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </tbody>
    </table>
    <p><strong>Commentaires : </strong> </p>




    <h3>Flux</h3>
    <table>
      <thead>
        <tr>
          <th>Paramètres</th>
          <th>Débit des fumées</th>
          <th colspan="2">Poussières</th>
        </tr>
      </thead>
      <tbody>
        <tr class="subtitle">
          <td>&nbsp;</td>
          <td>Débit journalier converti en débit horaire moyen</td>
          <td>F journalier</td>
          <td>F horaire max</td>

          <td class="remarks" rowspan="2">Remarques</th>
        </tr>
        <tr class="subtitle">
          <td>Unité</td>
          <td>Nm<sup>3</sup>/h</td>
          <td>kg/j</td>
          <td>kg/h</td>
        </tr>
        <tr>
          <td>01/02/2018</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>lorem ipsum</td>
        </tr>
        <tr class="vle">
          <td>VLE</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </tbody>
    </table>
    <p><strong>Commentaires : </strong> </p>

</body>
</html>