{% extends "base_inside.html.twig" %}
{% block body %}
  <section class="section">
    <div class="container">
      historique

      <a href="{{ path('route_cr') }}">compte rendu</a>
    </div>
  </section>
{% endblock %}