{% extends "common/base.html.twig" %}
{% block title %}
Aeris - Erreur
{% endblock %}

{% block body %}
    {% block error_body %}
    Une erreur est survenue. Vous pouvez nous remonter cet incident <a href="mailto:jacob.carbonnel@beta.gouv.fr">par mail</a>.
    {% endblock %}
{% endblock %}