{% if incinerateur %}

<h3 class="title is-3">Synthèse des déclarations de dioxines et furannes</h3>
{#
<div class="column">
  <button class="button is-primary tooltip" data-tooltip="Tooltip Text">Tooltip</button>
</div>
#}

<div class="modal" id="depassement-modal">
   <div class="modal-background"></div>
   <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">En cas de dépassement</p>
      <button class="delete close-depassement-modal" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
    <p>En cas de dépassements sur la mesure en semi-continu des dioxines et furannes, l'exploitant doit :
    <ul>
      <li>Avertir l'inspection des installations classées dans les meilleurs délais.</li>
      <li>Faire réaliser un contrôle ponctuel à l'émission des dioxines et furannes par un organisme agréé sous 10 jours.</li>
      <li>Le résultat des mesures en semi-continu ne permet pas de fonder l'engagement des procédures administratives prévues à l'article L. 514-1 du code de l'environnement.</li>
    </ul>

    Références :
    <ul>
        <li>Article 28 b1) de l'AM du 20/09/2002</a>
          <span class="tag is-link">
            <a href="https://aida.ineris.fr/consultation_document/5277#Article_28_nouveau">lien</a>
          </span>
        </li>
        <li>la note DGPR du 28 février 2011</li>
    </ul>
    </p>
   </section>
   </div>
</div>

<p>Référence réglementaire : <a href="https://aida.ineris.fr/consultation_document/5277#Annexe_I">AM 20/09/2002, Annexe I d)</a></p> <button class="button" id="open-depassement-modal">Que faire en cas de dépassement ?</button>

</p>

  {% for ligne in incinerateur.lignes %}
    <div >
      <h4 class="title is-4">Ligne n°{{ ligne.numero }}</h4>
      <div class="dioxine-canvas-container">
        <canvas id="canvas_dioxine_{{ligne.numero}}"></canvas>
      </div>
    </div>              
  {% endfor %}
{% endif %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.5/chartjs-plugin-annotation.js"></script>
<script src="https://cdn.rawgit.com/chartjs/Chart.js/master/samples/utils.js"></script>
  
<script>
var dashboardData = {{ output|json_encode()|raw }}

function addChart(ligneId) {
  var color = Chart.helpers.color;
  var barChartData = {
    labels: dashboardData.months,
    datasets: [{
      label: 'Ligne n°' + ligneId,
      backgroundColor: color('#207245').alpha(0.5).rgbString(),
      borderColor: '#558F6E',
      borderWidth: 1,
      data: dashboardData.lines[ligneId]
    }]
  };

  var ctx = document.getElementById('canvas_dioxine_' + ligneId).getContext('2d');
  new Chart(ctx, {
    type: 'bar',
    data: barChartData,
    options: {
      responsive: true,
      legend: {
        position: 'top',
      },
      /*title: {
        display: true,
        text: 'Declarations de dioxines'
      },*/
      scales: {
          yAxes: [{
              ticks: {
                  beginAtZero:true,
                  suggestedMax: 0.11,
              },
              scaleLabel:{
                display:true,
                  labelString: "Concentration (nb/m^3)"

              }
          }]
      },
      annotation: {
        annotations: [
          {
            type: "line",
            mode: "horizontal",
            scaleID: "y-axis-0",
            value: 0.1,
            borderColor: "red",
            label: {
              content: 'Seuil : 0.1 ng/m^3.',
              enabled: true,
              position: "top"
            }
          }
        ]
      }
    }
  });
}

window.onload = function() {
  {% for ligne in incinerateur.lignes %}
    addChart({{ ligne.numero }})
  {% endfor %}

  $("#open-depassement-modal").click(function() {
    $("#depassement-modal").addClass("is-active");  
  });

  $(".close-depassement-modal").click(function() {
     $("#depassement-modal").removeClass("is-active");
  });
};

</script>
