<div class="columns upload">
  <div class="column notification is-success">
    1. Déclaration
  </div>
  <div class="column {%if step >=2 %}notification is-success{% endif %}">
    2. Relecture de la déclaration
  </div>
  <div class="column">
    3. Envoi à l'inspecteur
  </div>
</div>