{% extends "common/base_inside.html.twig" %}
{% block body %}
  <section class="section">
    <div class="container">
      <h2>Dashboard</h2>
      <p>Bienvenue <strong>{{ app.user.username }} </strong></p>
      {{ app.user.incinerateurs | length }}
    </div>
  </section>
{% endblock %}