{% extends "common/base_inside.html.twig" %}
{% block body %}
  <section class="section">
    <div class="container">
        <h1>Declaration</h1>
        <h1>TODO: Rien n'est fait ici</h1>
    </div>
  </section>
{% endblock %}