{% extends "common/base_inside.html.twig" %}
{% block body %}
  <section class="section">
    <div class="container">
      <h2>Historique de <strong>{{incinerateur.name}}</strong></h2>

      <a href="{{ path('route_cr') }}">compte rendu</a>
    </div>
  </section>
{% endblock %}