{% extends "common/base_inside.html.twig" %}

{% block title %}
Aeris - Relecture de déclaration de dioxines
{% endblock %}


{% block body %}
  <section class="section">
    <div class="container" >   
    {% include 'common/declaration-timeline.html.twig' with {step:2} %}

    {% include 'dioxines/_compte-rendu.html.twig' with {declaration: declaration } %}

      <a class="button is-warning" href="{{ path('route_edit_declaration_dioxines', {declarationId: declaration.id }) }}">Modifier cette déclaration</a>
      <a class="button is-primary" href="{{ path('route_validate_declaration_dioxines', {declarationId: declaration.id }) }}">Terminer et envoyer cette déclaration à l'inspecteur</a>

    </div>
  </section>
{% endblock %}