{% extends "common/base_inside.html.twig" %}
{% block body %}
  <section class="section">
    <div class="container">
       <a class="button is-primary" style="float:right; font-size:1.5em" href="{{ path('route_history', {incinerateurId: incinerateur.id }) }}">Accéder à l'historique des déclarations</a>

      <h2 class="title is-2">Tableau de bord de <strong>{{incinerateur.name}}</strong></h2>

            {% include "common/dashboard-incinerateur.html.twig" with {'incinerateur' : incinerateur} %}

       <a class="button is-primary" style="float:right; font-size:1.5em" href="{{ path('route_history', {incinerateurId: incinerateur.id }) }}">Accéder à l'historique des déclarations</a>

    </div>
  </section>
{% endblock %}