{% extends "common/base_inside.html.twig" %}
{% block body %}
  <section class="section">
    <div class="container">
      <h2 class="title is-2">Incinérateurs</h2>

      <table class="table">
          <thead>
            <tr>
              <th>Incinérateur</th>
              <th>Lien</th>
            </tr>
          </thead>
          <tbody>
            {% for incinerateur in incinerateurs %}
            <tr>
              <th><a href="{{ path('route_history', {incinerateurId: incinerateur.id }) }}">{{ incinerateur.name }}</a></th>
              <td>
                <a class="button" href="{{ path('route_history', {incinerateurId: incinerateur.id }) }}">Accéder</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
    </div>
  </section>
{% endblock %}