.cheminee {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    background-position: 50% 50%;
    background-image: url("//build/images/cheminee.jpg");
    background-attachment: fixed;
}