{% extends "base.html.twig" %}
{% block body%}
{#
  <nav class="nav">
    <div class="nav__container">
      <a class="nav__link" href="index.html">
        <img class="nav__logo" src="images/logo_site.svg" alt="Accueil de template.data.gouv.fr" />
      </a>
      <ul class="nav__links">
        <li><a href="#typography">Typographie</a></li>
        <li><a href="#colors">Couleurs</a></li>
        <li><a href="#form">Form</a></li>
        <li><a href="#documentation">Documentation</a></li>
      </ul>
    </div>
  </nav>
  #}

  <div class="hero">
    <div class="hero__container cheminee">
      <h1 class="hero__white-background">Aeris</h1>
      <p class="hero__white-background">Rejets dans l'air des ICPE</p>
    </div>
  </div>

  <section class="section-dark">
    <div class="container">
      <h2 class="section__title">Aeris, c'est quoi ?</h2>
      <div class="row">
        <p class="column">Aeris vise à faciliter la déclaration et harmoniser le suivi des rejets dans l'air des installations classées pour la protection de l'environnement.</p>
        <p class="column">Industriels, inspecteurs, vous souhaitez participer à l'élaboration du service ? Laissez-nous vos coordonnées pour rester informé !</p>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
    <article>
      <h2 class="section__title">A propos</h2>
      <p>Aeris est un service développé au sein de la <a href="https://www.ecologique-solidaire.gouv.fr/fabrique-numerique-lincubateur-services-numeriques-du-pole-ministeriel">Fabrique numérique</a> du <a href="https://www.ecologique-solidaire.gouv.fr/">Ministère de la transition écologique et solidaire</a>, sur le modèle des startups d’État de <a href="https://beta.gouv.fr/">beta.gouv.fr</a></p>
      <p>Pour plus d'information, vous pouvez :</p>
      <ul>
        <li>Consulter la <a href="https://beta.gouv.fr/startup/aeris.html">fiche produit</a></li>
        <li>Contacter <a href="mailto:jacob.carbonel@beta.gouv.fr">l'équipe</a></li>
      </ul>
      </article>
    </div>
  </section>



      {#
<footer class="footer">
  <div class="container">
    <div class="footer__logo">
      <img src="images/etalab.svg" alt="Logo Etalab">
      <ul class="footer__social">
        <li><a href="https://twitter.com/etalab" title="Twitter"><svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg></a></li>
        <li><a href="https://github.com/etalab" title="Github"><svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg></a></li>
        <li><a href="https://www.facebook.com/etalab" title="Facebook"><svg class="icon icon-fb"><use xlink:href="#icon-fb"></use></svg></a></li>
        <li><a href="mailto:info@data.gouv.fr" title="Nous écrire un mail"><svg class="icon icon-mail"><use xlink:href="#icon-mail"></use></svg></a></li>
      </ul>
    </div>
    <ul class="footer__links">
      <li><h2>template.data.gouv.fr</h2></li>
      <li><a href="https://www.data.gouv.fr/reference">Données de référence</a></li>
      <li><a href="https://www.data.gouv.fr/terms">Conditions générales d'utilisation</a></li>
      <li><a href="https://www.data.gouv.fr/api">API</a></li>
    </ul>
  <ul class="footer__links"></ul>
</div>
</footer>
        #}
{% endblock%}