<div>
<a href="{{ path('route_dashboard') }}">Tableau de bord</a> | <a href="{{ path('route_declaration') }}">Faire une déclaration</a> | <a href="{{ path('fos_user_security_logout') }}">Me déconnecter</a>
</div>